/* Global Setting */
* {
    margin: 0;
    padding: 0;
    font-size: 14;
}

a {
    text-decoration: none;
    color: #fff;
}

/* Header */
header nav {
    background-color: #383838;
    height: 50px;
    text-align: right;

    position: fixed;
    top: 0;
    left: 0;
    right: 0;
}

nav ul {
    display: inline-block;
    margin-right: 20px;
}

nav li {
    display: inline-block;
    margin: 8px 5px 0 0;
    padding: 5px 10px 5px 10px;
    border-radius: 8px;

    transition: background-color 0.2s linear;
}

nav li:hover {
    background-color: #787878;
}

/* main */

.container {
    width: 1700px;
    height: fit-content;
    margin-top: 50px;
}

main #logo {
    margin-top: 30px;
    width: 200px;
    display: inline-block;
}

main #board {
    margin-top: 30px;
    width: 1200px;
    height: 350px;
    
    border:#c9c9c9 solid 1px;
    border-radius: 10px;
    overflow: auto;
}

main #board li {
    padding: 10px 0 10px 50px;
    text-align: left;
    border-bottom: #c9c9c9 solid 1px;
}

main #board li:hover {
    transition: 0.2s ease-in-out;
    color:#fff;
    background-color: #b5b5b5;
}

main #board li:hover > a {
    transition: 0.2s ease-in-out;
    color:#fff;
    background-color: transparent;
}

main #board a {
    color:#383838;
}

main #content {
    margin-top: 10px;
    width: 1200px;
    height: fit-content;
    min-height: 400px;

    border:#c9c9c9 solid 1px;
    border-radius: 10px;
}